/* header */

@media (max-width: 47.9375rem){
    body.lock{
        overflow: hidden;
    }
    .header__content{
        display: flex;
        justify-content: space-between;
        flex-direction: row;

        overflow: scroll;

    }

    .header__logo{
        display: block;
        position: relative;
        z-index: 70;
    }
    
    .header__burger{
        display: block;
        position: relative;

        width: 30px;
        height: 20px;

        z-index: 50;
    }
    .header__burger span{
        position: absolute;
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;

        transition: .4s;
    }

    .header__burger::before,
    .header__burger::after{
        content: '';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;

        transition: .7s;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
    }

    .header__burger.active span{
        transform: scale(0);
    }

    .header__burger.active::before{
        transform: rotate(225deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-225deg);
        bottom: 9px;
    }

    
    .nav{
        display: block;

        align-items: center;
        overflow: scroll;

        text-align: center;
        position: fixed;
        top: -1000%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);

        padding-top: 30px;
    }

    .nav__list{
        overflow: scroll;

        display: block;

        align-items: center;
        text-align: center;
        
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
    }
    .nav__list li {
        margin-top: 30px;
    }
    

    .dropdown {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .dropdown-menu {
        
        margin: 0 auto;
        margin-top: 15px;
        display: none;
        position: relative;
        
        gap: 5px;
    
        background-color: white;
        /* margin-top: 20px; */
        padding: 5px 10px 10px;
    
        box-shadow: 0px 1px 7px  rgb(156, 156, 156);
        border-radius: 15px;
    }

    .dropdown-menu li{
        margin: 0;
    }


}

/* Ahtung Bord */

/* about */

@media(max-width:889px){
    .about-image {
        width: 200px;
        height: 200px;
    }

    @media(max-width:700px){
        .about-image {
            width: 175px;
            height: 175px;
        }

        .about__block:hover .about__block-info {
            font-size: 18px;
        }

        @media(max-width:620px){
            .about-image {
                width: 150px;
                height: 150px;
            }
            .about__block-info {
                font-size: 14px;
            }
            .about__block:hover .about__block-info {
                font-size: 16px;
            }

            @media(max-width:535px){
                .main-section__content{
                    padding-bottom: 30px;
                }
                .about__block{
                    margin: 0;
                }
                .about-content__blocks {
                    gap: 20px;
                    width: 100%;

                    display: flex; 
                    align-items: center;
                    
                    flex-direction: row;
                    
                    justify-content: center;
                    flex-wrap: wrap;
                }

                @media(max-width:535px){
                    .about-image {
                        width: 200px;
                        height: 200px;
                    }

                    .about__block-info {
                        font-size: 16px;
                    }
            
                    .about__block:hover .about__block-info {
                        font-size: 20px;
                    }
                }
            }
        }   
    }
}

/* Blog */

@media (max-width:66.25rem){
    .news-block {
        max-width: 800px;
    }

    @media (max-width: 56.25rem){
        .news-block {
            max-width: 600px;
            
        }

        .news-text p{
            -webkit-line-clamp: 2; /* Число отображаемых строк */
            display: -webkit-box; /* Включаем флексбоксы */
            -webkit-box-orient: vertical; /* Вертикальная ориентация */
            overflow: hidden; /* Обрезаем всё за пределами блока */
        }

        @media (max-width: 42.25rem){
            .news-block__content{
                flex-direction: column;

            }
            .news-block {
                max-width: 400px;
            }
            .news-image {
                width: 100%;
                height: 100%;
            
                border-radius: 15px;
            }
            
            .news-text p{
                font-size: 12px;
            }
            @media (max-width: 32.6875rem) {
                .news-search__block{
                    width: 100%;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                }
            }

            @media (max-width: 30rem) {
                .news-block {
                    max-width: 200px;
                }
            }
        }
    }
}